.vscode/
__pycache__/
**/__pycache__/
matmul/output_files/*
relu/output_files/*
nms/output_files/*
conv_transpose/output_files/*

# Ignore Python virtual environments
.venv/

# Ignore compiled binaries and data files
*.bin
